#forum {
  margin: 15px;
  display: flex;
  justify-content: space-between;
  .num {
    background: #ebedf0;
    padding: 4px 7px 2px;
    border-radius: 10px;
    color: #838793;
    font-size: 14px;
    display: inline-block;
    line-height: 1;
  }
}
